.DS_Store
.idea
.cpcache/
**/.claude/settings.local.json
.clj-kondo/
.lsp/
.nrepl-port
target/
.clojure-mcp
.direnv
*.log
.worktrees/
result
.env
kotlin/build
build
.gradle
dev-data
*.db
archive
tmp/
